./__pycache__
__pycache__
.venv
venv
venv/
node_modules/
__pycache__/
*.pyc
*.log
output.css
.env
.vscode
./vscode
./static
.static
static/
static
instance
/instance
/app.db
./app.db
app.db
__pycache__/
*.pyc
instance/
.env
*.sqlite3
*.db
.env.*
